
    <div class=" footer">
        <div class="row mt-4">
            <div class="col-lg-11 py-2">
                <div class="row px-5">
                    <div class="col-lg-3 py-3">
                        <h5 class="pb-3 fs-6">
                            Customer Care
                        </h5>
                        <p>Regular</p>
                        <p>ON Time</p>
                    </div>
                    <div class="col-lg-3 py-3">
                        <h5 class="pb-3 fs-6">
                            Menu
                        </h5>
                        <p><a class="footer-link" href="#" routerLink="home">Home</a></p>
                        <!-- <p><a class="footer-link" href="#">On The Menu</a></p>
                        <p><a class="footer-link" href="#">Shop</a></p> -->
                        <p><a class="footer-link" href="#">Contact Us</a></p>
                        <p><a class="footer-link" href="#">NewsLetter</a></p>
                    </div>
                    <div class="col-lg-3 py-3">
                        <h5 class="pb-3 fs-6">
                            Resource
                        </h5>

                        <p>Privacy Policy</p>
                        <p>Terms and Conditions of Service</p>
                        <p>Affiliate Program</p>
                        <p>FAQs & Support</p>

                    </div>
                    <div class="col-lg-3 py-3">
                        <h5 class="pb-3 fs-6">
                            Social Link
                        </h5>

                        <span><img src="../../../assets/iconface.png" alt="facebook"></span>
                        <span><img src="../../../assets/icontwitt.png" alt="twitter"></span>
                        <span><img src="../../../assets/iconinsta.png" alt="instagram"> </span>
                        <span><img src="../../../assets/iconyout.png" alt="youtube"></span>
                        <span><i class="fa-brands fa-linkedin"></i></span>
                    </div>
                </div>
            </div>
        </div>
        <hr>
        <p class="text-center">Copyright &copy2023 All right Reserved by Fatema Tuz Zohora | This is a template for
            Angular Module</p>
    </div>

